<!DOCTYPE html>
<html ng-app="PriceCalculationOfCircuitBoards">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="/admin/">
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Автоматизация вычисления показателей дял технико-экономического планирования</title>
    <link rel="stylesheet" href="dist/css/built.min.css" type="text/css" >
    <link rel="stylesheet" href="vendor/ng-table/dist/ng-table.css">
</head>
<body class="ng-cloak" style="overflow-y: scroll">
<div class="wrapper">
    <div ng-controller="SiteAuthController as site" >
        <div class="top-nav">
            <div class="container clearfix">
                <div class="dropdown pull-right">
                    <ul class="list-inline navbar-nooffset profile-nav">
                        <li ng-hide="getLogged()">
                        <a href="login" style="color:white">Войти</a>
                    </li>
                        <li ng-show="getLogged()">
                            <a href="#" ng-click="logOut()" style="color:white">Выйти</a>
                        </li>
                        <li ng-show="getLogged()">
                            <a href="#" ng-click="logOut()" style="color:white">Помощь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-controller="NavigationController as nav">
            <div class="navbar navbar-nooffset navbar-main" role="navigation">
                <div class="container">
                    <div ng-model="navigationItems.activePanel">
                        <ul class="nav navbar-nav navbar-header"
                            ng-repeat="item in navigationItems">
                            <li style="padding:10px; display:block;"  ng-click="setActivePanel(item.activePanel)"  class="main-nav-item"
                                ng-class="menuClassPanel({{item.activePanel}})">
                                <a href="{{item.href}}" class="main-nav-link">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-collapse subnav" role="navigation" bs-navbar ng-hide="navigationItems.activePanel == 0">
                <div class="container">
                    <div ng-model="navigationItems.activePanel" bs-collapse>
                        <ul class="nav bs-collapse-target navbar-nav" bs-collapse-target
                            ng-repeat="item in navigationItems">
                            <li ng-repeat="subitem in item.items"
                                ng-class="menuClassSubPanel('{{subitem.href}}')">
                                <a href="{{subitem.href}}">{{subitem.title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-view autoscroll="">
    </div>
</div>

<!--script src="client/dist/js/built.min.js"></script-->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-i18n/angular-locale_se.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-strap/dist/angular-strap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/ng-table/dist/ng-table.js"></script>
<!--<script src="src/tmpl/ngTableFilters.js"></script>-->

<script src="src/app.js"></script>
<script src="src/site/controllers/SiteCtrl.js"></script>
<script src="src/calc/controllers/CalcCtrl.js"></script>
<script src="src/site/controllers/NavCtrl.js"></script>
<script src="src/formula/controllers/FormulaCtrl.js"></script>
<script src="src/input-params/controllers/InputParamsCtrl.js"></script>
<script src="src/output-params/controllers/OutputParamsCtrl.js"></script>
<script src="src/services/authService.js"></script>
<script src="src/services/restService.js"></script>
<script src="src/directives/directives.js"></script>
<script src="src/services/tableService.js"></script>
<script src="src/tmpl/ngTableFilters.js"></script>


</body>
</html>
