<!DOCTYPE html>
<html ng-app="PriceCalculationOfCircuitBoards">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="/">
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Расчет стоимости печатных плат</title>
    <link rel="stylesheet" href="dist/css/built.min.css" type="text/css" >
</head>
<body class="ng-cloak" style="overflow-y: scroll">
<div class="wrapper">
    <div ng-controller="SiteAuthController as site" >
        <div class="top-nav">
            <div class="container clearfix">
                <div class="dropdown pull-right">
                    <ul class="list-inline navbar-nooffset profile-nav">
                        <li ng-hide="getLogged()">
                        <a href="/login" translate>Войти</a>
                    </li>
                        <li ng-show="getLogged()">
                            <a href="#" ng-click="logOut()" translate>Выйти</a>
                        </li>
                        <li ng-show="getLogged()">
                            <a href="#" ng-click="logOut()" translate>Помощь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-controller="NavigationController as nav">
            <div class="navbar navbar-default subnav" role="navigation">
                <div class="container">
                    <div ng-model="navigationItems.activePanel">
                        <ul class="nav bs-collapse-target navbar-nav" if-has-access="{{item.accessLevel}}"
                            ng-repeat="item in navigationItems">
                            <li style="padding:10px; display:block;" ng-show="getLogged()"
                                ng-class="menuClassPanel({{item.activePanel}})">
                                <a href="{{item.href}}" >{{item.title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div ng-view autoscroll="">
    </div>
</div>

<!--script src="client/dist/js/built.min.js"></script-->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-i18n/angular-locale_se.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-strap/dist/angular-strap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="src/tmpl/ngTableFilters.js"></script>-->

<script src="src/app.js"></script>
<script src="src/site/controllers/SiteCtrl.js"></script>
<script src="src/site/controllers/NavCtrl.js"></script>
<script src="src/services/authService.js"></script>
<script src="src/services/restService.js"></script>
<script src="src/directives/directives.js"></script>

</body>
</html>
