<form class="form-horizontal clearfix" role="form" name="form">
    <h4 class="modal-title">Добавление формулы</h4>
    <div class="control-group">
        <label class="control-label" for="tech_proc">Тип</label>
        <div class="controls">
            <select ng-model="formula.tech_proc" id="tech_proc" name="tech_proc" class="form-control" placeholder="Выберите технологический процесс">
                <option value="59">59</option>
            </select>
            <span class="errors" ng-show="form.tech_proc.$dirty && form.tech_proc.$invalid">
                <span ng-show="form.tech_proc.$error.server">{{errors.tech_proc}}</span>
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="type">Тип</label>
        <div class="controls">
            <select ng-model="formula.type" id="type" name="type" class="form-control" placeholder="Выберите тип">
                <option value="calc">Формула</option>
                <option value="formula">Константа</option>
                <option value="calc">Расчетная значение</option>
            </select>
            <span class="errors" ng-show="form.type.$dirty && form.type.$invalid">
                <span ng-show="form.type.$error.server">{{errors.type}}</span>
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="operation" translate>Номер операции</label>
        <input type="text" id="operation" name="operation" class="form-control"
               ng-model="formula.operation" placeholder="Введите номер операции"
               maxlength="3" server-error/>
        <span class="errors" ng-show="form.operation.$dirty && form.operation.$invalid">
            <span ng-show="form.operation.$error.server">{{errors.operation}}</span>
        </span>
    </div>
    <div class="control-group">
        <label class="control-label" for="variable" translate>Имя пеерменной</label>
        <input type="text" id="variable" name="variable" class="form-control"
               ng-model="formula.variable" placeholder="Введите имя переменной"
               server-error/>
        <span class="errors" ng-show="form.variable.$dirty && form.variable.$invalid">
            <span ng-show="form.variable.$error.server">{{errors.variable}}</span>
        </span>
    </div>
    <div class="control-group">
        <label class="control-label" for="title" translate>Описание</label>
        <input type="text" id="title" name="title" class="form-control"
               ng-model="formula.title" placeholder="Введите описание"
               server-error/>
        <span class="errors" ng-show="form.title.$dirty && form.title.$invalid">
            <span ng-show="form.title.$error.server">{{errors.title}}</span>
        </span>
    </div>


        <div class="control-group">
            <label class="control-label" for="expression">Выражение</label>
            <div class="controls">
            <textarea name="expression" id="expression" class="form-control" ng-trim="true" placeholder="Введите выражение"
                      ng-model="formula.expression" server-error>
            </textarea>
            <span class="errors" ng-show="form.expression.$dirty && form.expression.$invalid">
                <span ng-show="form.expression.$error.server">{{errors.expression}}</span>
            </span>
            </div>
        </div>

    <div class="submit-btns">
        <button type="submit" ng-click="saveFormula()" class="btn btn-primary" translate>Сохранить</button>
        <button class="btn btn-default" ng-click="cancel()" translate>Отмена</button>
    </div>
</form>