<div class="clearfix">
    <div class="col-xs-6">
    </div>
</div>
<div class="container" if-has-access="ROLE_ADMIN">
    <div class="btns-wrap">
        <button class="btn btn-primary" ng-click="createFormula()" translate>Новая формула</button>
        <button ng-click="toggleFilter(tableParams)" class="btn btn-default">Скрыть фильтры</button>
    </div>

    <div class="panel-body">
        <table ng-table="tableParams" class="table table-colored-header" show-filter="true" template-pagination="ng-table/pager-custom.html">
            <tr ng-repeat="formula in $data">
                <td data-title="'Имя переменной'" sortable="'variable'"
                    filter="{'variable': 'text'}">{{formula.variable}}
                </td>
                <td data-title="'Название'" sortable="'title'"
                    filter="{'title': 'text'}">{{formula.title}}
                </td>
                <td data-title="'Выражение'" sortable="'expression'"
                    filter="{'expression': 'text'}">{{formula.expression}}
                </td>
                <td data-title="'Дата создания'" sortable="'added_on'"
                    filter="{'added_on': 'daterange'}">{{formula.added_on | date}}
                </td>
                <td class="text-right">
                    <a class="btn btn-primary " role="button" href="#"
                       ng-click="editFormula(formula.id)">Редактировать</a>
                    <a class="btn btn-primary "
                       role="button" href="#" ng-click="deleteFormula(formula.id)">Удалить</a>
                </td>
            </tr>
        </table>
    </div>
</div>