<div class="container">
    <form class="form-horizontal clearfix" role="form" name="form">
        <div class="underlined">
            <div class="controls" ng-repeat="param in inputParams">
                <label class="control-label">{{param.formula.title}}:</label>
                <div class="controls">
                    <input type="text" ng-model="param.send" class="form-control" server-error ng-show="param.type=='input'">
                </div>
            </div>
        </div>
        <div class="submit-btns raw">
            <button type="submit" ng-click="makeCalc()" class="btn btn-primary">Расчитать</button>
        </div>
    </form>
</div>